<header id="global-header" class="govuk-header" data-module="govuk-header" role="banner">
  <div class="govuk-header__container govuk-width-container">
    <div class="header-proposition">
      <div class="govuk-header__content">
        <a href="/" class="govuk-header__link govuk-header__link--service-name">Planning and housing data in England</a>
          <nav class="govuk-header__navigation" aria-label="Menu">
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
            <ul id="navigation" class="govuk-header__navigation-list">
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="https://design.planning.data.gov.uk">Design data</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="https://www.planning.data.gov.uk/guidance/">Provide data</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="https://www.planning.data.gov.uk">Use data</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</header>
