{% extends "dl-specification-base.html" %}

{% block dlStyle %}
<style>
    code {
        padding: 0 5px;
        color: #d4351c;
        background-color: #f3f2f1;
    }

    code.value {
        color: #00703c;
    }
</style>
{% endblock dlStyle %}

{% set page_caption = "Specification" %}
{% set page_title = specification.name + " changelog" %}

{% block dl_content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% for log in changelog %}
            <p class="govuk-body">Updates to <a href="{{sectionPath}}/{{specification.specification}}/{{log.current}}"
                    class="govuk-link">{{log.current}}</a> from <a
                    href="{{sectionPath}}/{{specification.specification}}/{{log.previous}}"
                    class="govuk-link">{{log.previous}}</a></p>

            <!-- Colm this would show any new or removed datasets
            {% if log.dataset_change and (log.dataset_change.added or log.dataset_change.removed) %}
                <p>Dataset changes</p>
                <p>added: {{log.dataset_change.added}}</p>
                <p>removed: {{log.dataset_change.removed}}</p>
            {% endif %}
            -->

            {% for c in log.changes %}
                <p class="govuk-body">updates to: {{c.dataset.name}}</p>
                <p class="govuk-body">added: {{c.added}}</p>
                <p class="govuk-body">removed: {{c.removed}}</p>
            {% endfor %}
        <hr class="govuk-section-break govuk-section-break--visible">
        {% endfor %}
    </div>
</div>
{% endblock %}
