{% extends "dl-specification-base.html" %}

{% block dlStyle %}
<style>
    .app-list {
      margin-left: 0.5em;
    }

    .app-list li {
      padding-left: 0.5em
    }

    .app-list--plus {
      list-style-type: "+" !important;
      margin-bottom: 0 !important;
    }

    .app-list--minus {
      list-style-type: "-" !important;
    }

    .app-diff {
      display: inline-block;
      padding: 3px 5px;
      margin-right: 0.25em;
    }

    .app-diff--addition {
      background: #e6ffec;
    }

    .app-diff--removal {
      background: #ffebe9;
    }

    .app-changelog .govuk-heading-l {
      margin-top: 45px;
    }

    .app-changelog .govuk-heading-l:first-of-type {
      margin-top: 0;
    }
</style>
{% endblock dlStyle %}

{% block dl_breadcrumbs %}
  {% set items = [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Specification",
        "href": sectionPath
      },
      {
        "text": page_title,
        "href": sectionPath + "/" + specification.name
      },
      {
        "text": "changelog"
      },
    ] %}
  {{ govukBreadcrumbs({
    "items": items
  }) }}
{% endblock %}

{% set page_caption = "Changelog" %}
{% set page_title = specification.name + " specification" %}

{% block dl_content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full app-changelog">
        {% for log in changelog %}
        <h2 class="govuk-heading-l"><a href="{{sectionPath}}/{{specification.specification}}/{{log.current}}"
          class="govuk-link">{{log.current}}</a> changes</h2>
            <p class="govuk-body">Previous version was <a
                    href="{{sectionPath}}/{{specification.specification}}/{{log.previous}}"
                    class="govuk-link">{{log.previous}}</a></p>

            <!-- Colm this would show any new or removed datasets
            {% if log.dataset_change and (log.dataset_change.added or log.dataset_change.removed) %}
                <p>Dataset changes</p>
                <p>added: {{log.dataset_change.added}}</p>
                <p>removed: {{log.dataset_change.removed}}</p>
            {% endif %}
            -->
            <h3 class="govuk-heading-m">What fields have changed?</h3>
            {% for c in log.changes %}
            <p class="govuk-body">Field changes to the <strong class="govuk-!-font-weight-bold">{{c.dataset.name}}</strong> dataset</p>
            <ul class="govuk-list app-list app-list--plus">
              {%- for field in c.added %}
              <li><span class="app-diff app-diff--addition">{{ field }}</span> was added</li>
              {% endfor -%}
            </ul>
            <ul class="govuk-list app-list app-list--minus">
              {%- for field in c.removed %}
              <li><span class="app-diff app-diff--removal">{{ field }}</span> was removed</li>
              {% endfor -%}
            </ul>
            {% endfor %}
        <hr class="govuk-section-break">
        {% endfor %}
    </div>
</div>
{% endblock %}
