{% extends "dl-specification-base.html" %}

{% set caption = 'Specification' %}
{% set title = 'Datatypes' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-list--bullet">
    {% for datatype, d in tables["datatype"].items()| sort %}
      <li><a href="{{datatype}}">{{datatype}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block dl_downloads %}
  <li><a href="https://raw.githubusercontent.com/digital-land/specification/master/specification/datatype.csv">CSV</a></li>
{% endblock %}
