{% extends "dl-specification-base.html" %}

{% set caption = 'Specification' %}
{% set title = 'Datatypes' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
        The following datatypes are used in Digital Land specifications:
    </p>
    <ul class="govuk-list govuk-list--bullet">
    {% for datatype, d in tables["datatype"].items()| sort %}
      <li><a href="{{datatype}}">{{ d["name"] }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
