{% extends "digital-land-frontend/dlf-base.html" %}

{%- if page_title != '' %}{% block pageTitle %}{{ page_title }} | Planning Data{% endblock %}{%- endif %}

{% block beforeContent %}
  {% block dl_breadcrumbs %}{% endblock %}
{% endblock %}

{% block content %}
  {% include 'digital-land-frontend/partials/dl-heading.html' %}
  {% block dl_content %}{% endblock %}
{% endblock %}

{% block footer %}
  {% include 'digital-land-frontend/partials/dl-page-feedback.html' %}
  {% include 'digital-land-frontend/partials/dl-footer-code.html' %}
{% endblock %}
