{% extends "dl-base.html" %}

{%- set github_repository = 'specification' -%}

{% block header %}
{% include 'digital-land-frontend/partials/dl-cookie-banner.html' %}
{% include 'partials/header.html' %}
{% endblock%}

{%- block beforeContent %}
{% block dl_breadcrumbs %}
  {% if not version %}
    {% set items = [
      {
        "text": "Specification",
        "href": sectionPath
      },
      {
        "text": page_title
      },
    ] %}
  {% else %}
  {% set items = [
      {
        "text": "Specification",
        "href": sectionPath
      },
      {
        "text": page_title,
        "href": sectionPath + "/" + name
      },
      {
        "text": version
      },
    ] %}
  {% endif %}
  {{ govukBreadcrumbs({
    "items": items
  }) }}
{% endblock %}
{% endblock -%}

