{% extends "dl-specification-base.html" %}

{% set page_caption = 'Specification' %}
{% set page_title = 'Fields' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
        A field provides the meaning of the data in a column in a CSV file, or GeoJSON file property.
        The following fields are used in planning data specifications:
    </p>
    <table class="govuk-table">
      <caption class="govuk-table__caption">Fields</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Datatype</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Cardinality</th>
          <th scope="col" class="govuk-table__header">Parent Field</th>
          <th scope="col" class="govuk-table__header">Typology</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
    {% for field, f in tables["field"].items() | sort %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" id="field_{{field}}"><a href="{{field}}">{{field}}</a>
          {% if f["end-date"] %}<strong class="govuk-tag govuk-tag--grey">Deprecated</strong>{% endif -%}</td>
          <td class="govuk-table__cell">{{f["name"]}}</td>
          <td class="govuk-table__cell"><a href="../datatype/{{ f["datatype"] }}">{{ f["datatype"] }}</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ f["cardinality"] }}</td>
          <td class="govuk-table__cell"><a href="#field_{{f["parent-field"]}}">{{ f["parent-field"] }}</a></td>
          <td class="govuk-table__cell"><a href="../typology/{{ f["typology"] }}">{{ f["typology"] }}</a></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <h2 class="govuk-heading-m">Notes</h2>
    <h3 class="govuk-heading-s">Typologies</h3>
    <p class="govuk-body">A field whose <code>parent-field</code> is the same as the <code>field</code> value, is a typology.</p>
    <p class="govuk-body">Where the <code>parent-field</code> has a <code>curie</code> datatype, the prefix is the <code>field</code>.</p>
  </div>
</div>
{% endblock %}
