{% extends "dl-specification-base.html" %}

{% set page_caption = 'Field' %}
{% set page_title = item['name'] %}

{% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Specification",
        "href": "../../"
      },
      {
        "text": "Field",
        "href": "../"
      },
      {
        "text": page_title
      },
    ]
  }) }}
{% endblock %}

{% block dl_content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">{{ item["name"] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Field</th>
          <td class="govuk-table__cell">{{ item["field"] }}</td>
        </tr>
        {% if item["end-date"] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Status</th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Deprecated</strong></td>
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Datatype</th>
          <td class="govuk-table__cell"><a href="../../datatype/{{ item["datatype"] }}">{{ item["datatype"] }}</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Cardinality</th>
          <td class="govuk-table__cell">{{ item["cardinality"] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Parent field</th>
          <td class="govuk-table__cell"><a href="../{{ item["parent-field"] }}">{{ item["parent-field"] }}</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Typology</th>
          <td class="govuk-table__cell"><a href="../../typology/{{ item["typology"] }}">{{ item["typology"] }}</a></td>
        </tr>
        {% if tables["dataset"][name] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Dataset</th>
          <td class="govuk-table__cell"><a href="../../dataset/{{ name }}">{{ name }}</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    </p>

    {% if item["description"] %}
    <h2 class="govuk-heading-s" id="description">Description</h2>
    <p>
    A {{  item["description"].strip() }}.
    </p>
    {% endif %}

    {% if item["guidance"] %}
    <h2 class="govuk-heading-s" id="guidance">Guidance</h2>
    {{ item["guidance"] | markdown }}
    {% endif %}

    {% if item["notes"] %}
    <h2 class="govuk-heading-s" id="notes">Description</h2>
    {{ item["notes"] | markdown }}
    {% endif %}


    {% if tables["field-dataset"][name] %}
    <h2 class="govuk-heading-s" id="datasets">Datasets</h2>

    <p class="govuk-body">The following datasets use this field:</p>

    <ul class="govuk-list govuk-list--bullet">
    {% for dataset in tables["field-dataset"][name] | sort %}
      <li><a href="../../dataset/{{dataset}}">{{ tables["dataset"][dataset]["name"] }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
{% endblock %}
