{% extends "dl-specification-base.html" %}

{% block dlStyle %}
<style>

/* citation of values uses the GOV.UK code default colour to simplify govspeak*/
code,
code.value {
    padding: 0 5px;
    color: #d4351c;
    background-color: #f3f2f1;
}

/* call out citation of fields */
code.field {
    color: #00703c;
}

.app-version-banner {
  border: 5px solid #f47738;
  margin-top: 30px;
  padding: 15px;
}

.app-version-banner p {
  margin-bottom: 0;
}

.diagram {
 margin-bottom: 30px;
}

.guidance,
.note,
.example,
.description,
.TBD {
    margin: 0 0 20px 0;
    background-color: #f3f2f1;
    padding: 30px;
}

.guidance:before,
.note::before,
.example::before,
.description::before,
.TBD::before {
    font-weight: bold;
    clear: right;
    display: block;
    padding-bottom: 1em;
}

.guidance::before {
    content: "Guidance" ;
}

.note::before {
    content: "Note" ;
}

.example::before {
    content: "Example";
}

.description::before {
    content: "Description";
}

/*
.assertion::after {
    content: "¶ " ;
    color: #b1b4b6;
}
*/

.TBD::before {
    content: "TBD";
    font-style: italic;
}

a.para {
  margin-right: 0.5em;
  color: inherit;
  text-decoration: none;
}

a.para:hover {
  color: #0066cc;
}

.organisation-logos {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.html-publication .contents-list-container {
    position: sticky;
    top: 10px;
    max-height: 100vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Contents list styling */
.govuk-body ol {
  list-style: decimal;
}

.govuk-body ol ol {
  list-style: lower-alpha;
}

/* Steps list styling (govspeak s1., s2., etc.) */
ol.steps {
  list-style: none;
  counter-reset: step-counter;
  padding-left: 0;
  margin-left: 0;
  font-size: 19px;
  line-height: 1.31579;
  margin-bottom: 2em;
}

ol.steps li {
  counter-increment: step-counter;
  position: relative;
  padding-left: 2.5em;
  margin-bottom: 1em;
}

ol.steps li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  min-width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  background-color: #0b0c0c;
  color: #ffffff;
  font-weight: 700;
  border-radius: 50%;
  font-size: 16px;
}

.call-to-action {
    margin:0 0 20px 0;
    background-color:#f3f2f1;
    padding:30px;
    padding-bottom:10px
}

/* mimic a GOV.UK lead-paragraph */
.information-callout {
    font-size: 1.5rem;
    line-height: 1.25;
}

</style>
{% endblock dlStyle %}

{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% macro sentence_end(text) %}
    {{ text.strip() }}.
{% endmacro %}

{% macro sentence(text) %}
    {{ sentence_end(sentence_case(text)) }}
{% endmacro %}


{% set page_caption = 'Guidance' %}
{% set page_title = item["title"] %}
{% set key = tables["specification"][name] %}

{% block dl_content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Working Draft
    </strong>
    <span class="govuk-phase-banner__text">
      This guidance is under development. Help us improve it and <a class="govuk-link" href="mailto:digitalland@communities.gov.uk">give your feedback by email</a>.
    </span>
  </p>
</div>
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">

      {{ html | safe }}

  </div>
</div>

{% endblock %}
