{% extends "dl-specification-base.html" %}

{% set page_caption = '' %}
{% set page_title = 'Specification' %}

{% block dl_content %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-full">
    <p class="govuk-body">
        Technical documentation and guidance.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="guidance">Guidance pages</a></li>
      <li><a href="specification">Specifications</a>
      <li><a href="dataset">Datasets</a>
      <li><a href="field">Fields</a>
      <li><a href="datatype">Datatypes</a>
      <li><a href="typology">Typologies</a>
    </ul>
    <p class="govuk-body">
        Visit our <a href="https://www.digital-land.info/dataset">datasets</a> pages to see the actual data.
    </p>
  </div>
</div>
{% endblock %}
