{% extends "dl-specification-base.html" %}

{% set page_caption = 'Specification' %}
{% set page_title = 'Schemas' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
        A schema defines the list of <a href="../field/">fields</a> used in a <a href="../dataset/">dataset</a> file, which may be in CSV, GeoJSON or another format.
        The following schemas are used in Digital Land specifications:
    </p>
    <ul class="govuk-list govuk-list--bullet">
    {% for schema, item in tables["schema"].items()| sort %}
      <li><a href="{{schema}}">{{item["name"]}}</a>
          {%- if item["description"] %} &mdash; {{ item["description"][0]|lower }}{{ item["description"][1:] }}{% endif -%}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
