{% extends "dl-specification-base.html" %}

{% set caption = 'Schema' %}
{% set title = item["name"] %}
{% set key = tables["field"][name] %}

{% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Specification",
        "href": "../../"
      },
      {
        "text": "Schema",
        "href": "../"
      },
      {
        "text": title
      },
    ]
  }) }}
{% endblock %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-body govuk-!-margin-bottom-9">{{item["description"]}}</p>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Fields</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Datatype</th>
          <th scope="col" class="govuk-table__header">Cardinality</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
    {% for field in name | schema_sort %}
        {% set f = tables["field"][field] %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" id="field_{{field}}"><a href="../../field/{{field}}">{{field}}</a></td>
          <td class="govuk-table__cell">{{f["name"]}}</td>
          <td class="govuk-table__cell"><a href="../../datatype/{{ f["datatype"] }}">{{ f["datatype"] }}</a></td>
          <td class="govuk-table__cell">{{ f["cardinality"] }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

    {% if key %}
    <h2 class="govuk-heading-s" id="{{typology}}">Typology</h2>
    <p class="govuk-body">This schema belongs to the <a href="../../typology/{{ key["typology"] }}">{{ key["typology"] }}</a> typology.</p>
    {% endif %}

    {% if tables["schema-to"][name] or tables["schema-from"][name] %}
    <h2 class="govuk-heading-s" id="{{schemas}}">Schemas</h2>

    {% if tables["schema-to"][name] %}
    <p class="govuk-body">This schema links to the following other schemas:</p>
    <ul class="govuk-list govuk-list--bullet">
    {% for schema in tables["schema-to"][name] | sort %}
      <li><a href="../{{schema}}">{{ tables["schema"][schema]["name"] }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if tables["schema-from"][name] %}
    <p class="govuk-body">This schema is linked to by the following other schemas:</p>
    <ul class="govuk-list govuk-list--bullet">
    {% for schema in tables["schema-from"][name] | sort %}
      <li><a href="../{{schema}}">{{ tables["schema"][schema]["name"] }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {% endif %}

    {% if tables["schema-dataset"][name] %}
    <h2 class="govuk-heading-s" id="{{datasets}}">Datasets</h2>
    <p class="govuk-body">This schema is used in the following datasets:</p>
    <ul class="govuk-list govuk-list--bullet">
    {% for dataset in tables["schema-dataset"][name] | sort %}
      <li><a href="../../dataset/{{dataset}}">{{ tables["dataset"][dataset]["name"] }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block dl_downloads %}
<li><a href="https://raw.githubusercontent.com/digital-land/specification/master/specification/schema-field.csv">CSV</a></li>
{% endblock %}
