{% extends "dl-specification-base.html" %}

{% set page_caption = 'Specification' %}
{% set page_title = 'Typologies' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
        The following typologoies are used to categorise the <a href="../field/">fields</a> used in planning data specifications:
    </p>
    <ul class="govuk-list govuk-list--bullet">
    {% for typology, t in tables["typology"].items()| sort %}
      <li><a href="{{typology}}">{{t["name"]}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
