{% extends "dl-specification-base.html" %}

{% set caption = 'Specification' %}
{% set title = 'Typologies' %}

{% block dl_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-list--bullet">
    {% for typology, t in tables["typology"].items()| sort %}
      <li><a href="{{typology}}">{{t["name"]}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block dl_downloads %}
  <li><a href="https://raw.githubusercontent.com/digital-land/specification/master/specification/typology.csv">CSV</a></li>
{% endblock %}
